# Ignore All Except
*

!*/

.cache/

.vim

.vscode

Documents

go

!.bashrc

!.gitignore

!.config/alacritty/*

!.config/fish/*

!.config/dunst/*

!.config/fontconfig/*

!.config/i3/*

.config/i3/i3-autodisplay/

!.config/nvim/*

!.config/polybar/*

!.config/ranger/*

!.config/rofi/*

!.config/tmux/*

